

/* new event page */


.nationl-objectives {text-align:left; font-size:18px; color: #1100f3; border-right: solid 1px #1100f3;}
.nationl-objectives-no-bor {text-align:left; font-size:18px; color: #1100f3;}
.masterclass-text{font-size:18px; color:#000;}

.who-should-at{text-align:left; font-size:18px; color: #3a3a3a; border-right: solid 1px #333333;}
.who-should-at-no-bor{text-align:left; font-size:18px; color: #3a3a3a; }

.register-now-nat{color: #fedd24;font-size: 30px;font-weight: 700; }



/* event page */


.agenda-hedd{font-size: 36px;font-weight: 500; padding: 0 0 10px; margin: 0; line-height: 62px; margin-top: 0;text-transform: none;color: #1100f3;}	

.valuable-speaker-hed { color: #fff; font-size: 20px;text-align: center; padding: 10px 0 0 0px;}
.valuable-speaker-small { color: #fff; font-size: 14px; text-align: center;}
.partner-event h2 { font-weight: 500; padding: 0 0 10px; margin: 0; line-height: 62px; margin-top: 0; text-transform: none;color: #2819f4;}
.who-attend{color: #1100f3;font-size: 20px; text-align:center;}

.partners-bg-gray-video { background-color: #d6d6d6;}

.agenda-text{color: #1100f3; font-size: 17px; font-weight:600; text-align: left; border-right: solid 1px #333333; border-bottom: solid 1px #1100f3; border-bottom-style:dotted;border-right-style:dotted;}
.agenda-text2{color: #1100f3; font-weight:600; font-size: 17px; text-align: left; padding:14px 0 14px 20px; border-bottom: solid 1px #1100f3; border-bottom-style:dotted;}
.agenda-bg-gray{ background-color: #fff;}
.partners-bg-gray-b {
    background-color: #eaeaea;
}

/* top bar */
.top-bar {background: #1100f3;}
.top-bar-text{ color:#e50072;}
.top-bar-text a{ color:#e50072;}
.top-bar-text a:hover{ color:#e50072;}

.color-defoult{visibility: visible;}


/* top bar text email and phone */
.email-box{	display: inline-block;	margin-right: 20px;}
.email-box a{color: #fff; /* font-size: 16px; */ }
.email-box a:hover{color: #fff;}
.email-box a i{	padding: 0px 5px;}
.phone-box{	display: inline-block;}
.phone-box a{color: #fff;/*font-size: 16px;*/}
.phone-box a:hover{	color: #fff;}
/* LOGO */
.logo{ background-image:url(../images/logo.png); background-repeat:no-repeat; width:150px; height:100px;}
/* menu color */
.header_style_01 .navbar-default .navbar-nav > li a {color: #fcc203;	padding: 10px;	font-weight:600;  }
.hover{color: #fcc203;	}
.menutab-bg{ background-color:#000 !important; color: #e50072 !important;}
.header_style_01 .navbar-default .navbar-nav > li > a {
    border-radius: 0; /* font-size: 16px; */ font-style: normal; text-transform:uppercase;	
	color: #fcc203; font-weight: 600;background-color: transparent; margin: 0 -8px 0px -8px;}
/* banner image upper color */	
.slider-bg-one {
	background-image:url(../uploads/banner1a.png);
    background-position: center center;  background-repeat: no-repeat;
    background-size: cover;}
.home-one-slider-otem::before{
	content: "";
	position: absolute;
	/* background: rgba(16,0,242, 0.2);   */
	width: 100%;height: 100%;top: 0%;left: 100%;z-index: 1}	
.slider-content-area {
    height: 100vh;
    position: relative;
}
.home-one-slider-otem .slider-content-area {
    height: 520px;
    position: relative;
}
.slide-text h1 { color: #fff; /*font-size: 40px;*/ font-weight: 700;    
	/* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);    */
}
.slide-text h2 {   color: #fff; /*font-size: 22px;*/ letter-spacing: 1px; margin-bottom: 20px;
	/* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);      */ } 
.section.wb {
    background-color: #fff;
}



.offring-sub-text-color{color:#FFF;}
/* section  */	
.message-box h2 {  /* font-size: 40px;*/   font-weight: 500; padding: 0 0 10px;  margin: 0;  line-height: 62px; margin-top: 0;text-transform: none; 
color: #1100f3;}
p{color: #1100f3;}
.midd-heading {  /* font-size: 40px; */  font-weight: 500; padding: 0 0 10px;  margin: 0;  line-height: 62px; margin-top: 0;text-transform: none; color: #fff;}
.section.lb {  background-color: #1100f3;}
.text-left{ text-align:left;}
.service-widget h3 a,
.section.wb .service-widget h3,
.section.lb .service-widget h3 {
    color: #fff;
    /* font-size: 28px; */
}
.service-widget p {
    margin-bottom: 0;
    padding-bottom: 0;
}
/* become a member  */	
.members-bg{background-color: #0e039a; padding:10px; border-radius:4px; /*font-size: 24px;*/ font-weight: 600;color:#fcc203 !important;}
.members-bg a:hover{color:#fff !important;}
.members-bg :hover{color:#fff !important;}
.y{ color: #fff;}
/* footer  */	
.footer {
    padding: 40px 0 40px 0px;
    color: #999;
   background-color: #1100f3;
}
.footer .widget-title h3 {    color: #fff; font-weight: 500; /* font-size: 21px; */ padding: 0;
    margin: 0;text-align: left; line-height: 1 !important;}
.footer-color{ color: #fff;}
.copyright{/*font-size: 13px;*/ margin: 0 0 0 -117px; color: #fff;}
.copyright2{/*font-size: 13px;*/  color: #fff;}
.subscribe{ background-color: #0d01a7;     color: #fff; /*font-size:16px;*/ padding: 8px 7px 8px 7px; }
.subscribe a{ color: #fff;}
.subscribe a:hover{ color: #fff;}
.dmtop { background-color: #3e3e3e; z-index: 100; width: 50px; height: 50px; line-height: 47px;  position: fixed;
    bottom: -100px;  border-radius: 3px; right: 20px; text-align: center; /*font-size: 28px;*/ color: #ffffff !important;
    cursor: pointer;  -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all .7s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out;}
.dmtop:hover {
	background-color: #000;
}
.message-boxfm h2 {  /*font-size: 40px;*/  font-weight: 500;  padding: 0 0 10px;    margin: 0;
    line-height: 62px;   margin-top: 0;    text-transform: none;    color: #1100f3;
}
.social-icon {
    color: #fff;   
}
/*  membership   */
.small-hed-mem{  color: #4500f3; font-weight: 600;  /*font-size: 27px;*/ }
.blur-bg{ background-color:#1000f2;}




/* sticky button */	
	
#feedback1 {
    height: 0px;
    width: 85px;
    position: fixed;
    right: 0;
    top: 30%;
	position:absolute;
	color:#F00;
    z-index: 10000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback1 a {
	display: block;
	background:url(http://ciiibdn.com/css/pc.png) no-repeat;
	height: 52px;
	width: 155px;	
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;

}
#feedback1 a:hover {
	background:url(http://ciiibdn.com/css/pc-over.png) no-repeat;
}

#feedback {
	height: 0px;
	width: 85px;
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback a {
	display: block;
	background: #1100f3;
	height: 52px;
	padding-top: 10px;
	width: 155px;
	text-align: center;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}
#feedback a:hover {
	background: #1100f3;
}






/*  new memu */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff;
  margin: 16px 0 0 0px;
 /* float: right; */
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
 /*  background: #009ae1;  */
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
    padding: 12px;
    font-size: 15px;
	font-weight:600;
  text-decoration: none;
  text-transform: uppercase;
  color: #1100f3;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #000000;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
      width: 227px;
      /* font-size: 16px; */
      background: #1100f3;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #e50072;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    /*font-size: 12px; */
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
   /* font-size: 12px;*/
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}
